<!DOCTYPE html>
<html lang="pl-PL">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title != '' %}{{ page.title }} – {% endif %}omniprojekt.pl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow, archive">
		<link rel="shortcut icon" href="/favicon.svg">
		<link rel="stylesheet" href="/styles/syntax.css">
		<link rel="stylesheet" href="/styles/style.css">
	</head>
	<body>
		{{ content }}

		<footer>
			&copy; &#082;&#097;&#102;&#097;ł&#032;&#084;&#111;&#098;&#111;&#114;&#101;&#107;. Stworzone za pomocą technologii <a href="https://github.com/clash82/clash82.github.io">GitHub Pages</a>.
		</footer>

		<script type="text/javascript">
			var _paq = window._paq || [];
			_paq.push(['setRequestMethod', 'POST']);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="https://analityka.toborek.info/";
				_paq.push(['setTrackerUrl', u+'rafal.html']);
				_paq.push(['setSiteId', '18']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'rafal.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
	</body>
</html>
